* {margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box}
html {height: 100%; width: 100%}
body {background-color: #0c0c0c; color: #f8f8f8; font: 16px/1.618em sans-serif; padding: 4em 1.618em 0}
#view {margin: .5em auto 0; text-align: center}
#unde {font-family: 'Georgia', serif}
#unde a {font-weight: normal}
input, img, video {width: 100%}
input {display: block; margin: 1.618em auto; text-align: center; background-color: transparent; border: none; outline: none; font: 2.0581em/1.272em 'Georgia', serif}
#core {margin-bottom: 1.618em; text-align: left}
#core p:first-child:first-letter {float: left; padding: 5px 6px 0 2px; font: bold 55px/40px 'Georgia', serif}
#core p:first-child {margin-top: 0}
#core p, h2, ul, ol, dl, code, blockquote, img, video {margin: 1.272em 0 0 0}
a {color: #202020; text-decoration: none; cursor: pointer; font-weight: bold}
a:hover {color: #eb4e32}
h2 {font: bold 1.618em/1.272em 'Georgia', serif}
blockquote {padding: 1.618em 1.272em}
.quote:before {content: '\00201C'}
.quote {margin-bottom: 0; font: italic 1.618em/1.272em 'Georgia', serif}
.quote:after {content: '\00201D'}
.attrib:before {content: '\002014  '}
.attrib {margin-top: 1.272em}
ul, ol {list-style-position: inside; padding-left: .7862em}
dt {font-weight: bold}
dd {margin-bottom: 1.272em; padding-left: 1.618em; font-style: italic}
code {display: block; padding: 1.272em; background-color: #202020; color: #f8f8f8}
#footer {padding: 2.6179em 0}
#webring {margin-bottom: .7862em; width: 2.0581em}
@media screen and (min-width: 30em) {#view {width: 30rem}}
@media screen and (min-width: 60em) {
  input {font-size: 2.6179em}
  blockquote {padding: 1.618em}
}
