code, ln {
  display: block
}

#s, table, td, th {
  border: none
}

#s, img, table {
  width: 100%
}

#s, body, .ac {
  text-align: center
}

* {
  margin: 0;
  padding: 0;
}

body, body * {
  color: #202020
}

body {
  background-color: #e4e4e4;
  font: 16px/1.618em sans-serif;
  padding: 5.38em 1.618em 4.236em
}

body {
  margin-top: .5em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

#u a {
  font-weight: 400;
}

#s {
  margin-top: 1.272em;
  margin-right: auto;
  margin-bottom: 1.272em;
  margin-left: auto;
  background-color: transparent;
  outline: 0;
  font-size: 2.0581em;
  line-height: 1.272em;
  font-weight: bold;
}

#c {
  margin: 0 0 4.24em;
  text-align: left
}

#c p, blockquote, code, dl, img, ol, ul, table {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1.272em;
  margin-left: 0;
}

h2:not(:first-child) {margin-top: 1.272em}
h2 {margin-bottom: .7862em}

a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 700
}

a:hover {
  text-decoration: underline;
}

h2 {
  font-weight: 700;
  font-size: 1.272em;
  line-height: 1.272em;
  border-bottom: 1px solid #202020;
  padding-bottom: .7862em;
}

blockquote {
  padding: 1.618em 1.272em
}

.q:before {
  content: '\00201C'
}

.q {
  font-style: italic;
  font-size: 1.618em;
  line-height: 1.272em;
}

.q:after {
  content: '\00201D'
}

.a:before {
  content: '\002014'
}

.a {
  margin-top: 1.272em
}

.ar {
  text-align: right
}

ol, ul {
  list-style-position: inside
}

code {
  padding: 1.272em;
  border: 1px solid
}

table {
  border-collapse: collapse;
  overflow-x: auto;
}

th {
  border-bottom: 1px solid;
  padding-bottom: .25em;
}

td {
  padding: .25em 0;
}

#i {
  border-top: 1px solid #333;
  padding-top: 1.272em;
}

#i ul {
  list-style: none;
}

/* #i ul p {
  line-height: 1.272em;
  margin-bottom: 0;
} */

#i ul li {
  display: inline-block;
  width: 25%;
}

.iv {
  font-size: 1em;
  font-weight: bold;
  line-height: 0;
  margin-bottom: 0;
}

.il {
  font-size: .7862em;
  line-height: 0;
  margin-bottom: 0;
}

#i th {border-bottom: none;}

#l {
  text-align: center;
  font-size: .7862em;
  border-top: 1px solid #333;
  padding-top: 1.272em;
}

.stats {
  list-style: none;
  width: 100%;
  overflow: auto;
}

.stats li {
  float: left;
  margin-bottom: 1.272em;
}

.c3 li {width: 33.33%}
.c4 li {width: 25%}

.stats p {font-size: 1.272em; line-height: 1.272em; font-weight: bold; margin-bottom: 0 !important;}
.stats span {font-size: .7862em;}

.col {
  width: 100%;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.col ul {
  list-style: none
}

footer p {
margin-top: .7862em;
}

#w {
  margin: 0 .7862em 0 0;
  width: 2.0581em
}

#m {
  margin: 0;
  width: 2.0581em;
}

@media screen and (min-width:30em) {
  body {
    width: 34rem;
    max-width: 100%;
  }
}

@media screen and (min-width:60em) {
  #s {
    font-size: 2.6179em
  }

  blockquote {
    padding: 1.618em
  }

}
