/* Stylesheet */

/* reset & disable selection */

* {margin: 0; padding: 0; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; -webkit-user-select: none; user-select: none}

body {background-color: #E8DAB2; font-family: "Montserrat", sans-serif}

/* Scrollbar */

::-webkit-scrollbar-track {background-color: #F5F5F5; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)}
::-webkit-scrollbar {background-color: #F5F5F5; width: 6px; height: 6px}
::-webkit-scrollbar-thumb {background-color: #9e9e9e}

/* Main */

div {color: #424242; font-size: 20px; line-height: 36px; margin: 4em auto; max-width: 700px; padding: 0 3em}

/* Typography */

p {font-size: 1em; line-height: 1.5em; margin: 1.5em 0}
a {text-decoration: none; color: #424242}
a:hover {text-decoration: underline}
blockquote {margin-left: 0; border-left: 3px solid #259b24; padding-left: 2em}
ul, ol {padding-left: 3em}

p span {color: #DD6E42}

/* Headings */

h1 {font-size: 2em; line-height: 1.5em; margin-top: 1.5em}
h6 {font-size: 1.1667em; line-height: 1.2857em; margin: 2.5714em 0 1.2857em}

h1, h2, h3, h4, h5, h6 {font-weight: normal}

/* Elements */

header {text-align: center; padding-bottom: 3.5em}
header h1 {color: #DD6E42}
img.profile {display: block; margin: 0 auto;}

span.tagline {font-style: italic}

.table {border-collapse: collapse; border-spacing: 0 width: 100%; position: relative; margin: 0 0 5px; border-collapse: separate; border: none font-size: 1em; line-height: 1.5em; vertical-align: bottom}
.table tbody tr td {padding: 9px 0}
.table tbody tr td:first-of-type {color: #DD6E42}
