---
title: Andromeda
desc: The tertiary vessel
categories: Equipment
scrn: andromeda.png
intro: A lifeboat is stowed on the deck of the Navire.
---
<p class="mb3"><b>Andromeda</b> is an Android tablet that I use as a portable workstation in my {{ site.data.dir.personal.journey }} across {{ site.data.dir.vide.mithvaer }}, mostly for tasks related to writing, post-processing of photos, e-mails, etc.</p><h3 class="mb3 f6 upc tk bb pb3">Specs</h3><ul class="mb4">{% for spec in site.data.equipment.andromeda.specs %}<li>{{ spec }}</li>{% endfor %}</ul><h3 class="mb3 f6 upc tk bb pb3">Apps</h3><ul class="mb4 lsn r">{% for app in site.data.equipment.andromeda.apps %}<li class="c3 c6-s c6-m">{{ app }}</li>{% endfor %}</ul>
