---
title: Bateau
desc: The secondary vessel
categories: Equipment
scrn: bateau.png
intro: A humble dinghy floats beside the Navire.
---
<p class="mb3"><b title="Translates to 'boat' in French">Bateau</b> is the secondary vessel of exploration in my {{ site.data.dir.personal.journey }} across {{ site.data.dir.vide.mithvaer }}. It serves as a portable workstation whenever I'm not in the comfort of home.</p>
<p class="mb5">Files are synced between Bateau and Navire via Dropbox. With the exception of OS files, nothing else is stored on their hard drives. Everything is on the cloud.</p>

<h3 class="mb3 f3">Specs</h3>
<ul class="mb5">{% for spec in site.data.equipment.bateau.specs %}<li>{{ spec }}</li>{% endfor %}</ul>

<h3 class="mb3 f3">Apps</h3>
<ul class="lsn r">{% for app in site.data.equipment.bateau.apps %}<li class="c3 c6-s c6-m">{{ app }}</li>{% endfor %}</ul>
