---
title: Navire
desc: The mothership
categories: Equipment
scrn: navire.png
intro: A large onyx ship with a crystalline hull rocks gently among the waves.
---
<p class="mb3"><b title="Translates to 'ship' in French">Navire</b> is the primary vessel of exploration in my {{ site.data.dir.personal.journey }} across {{ site.data.dir.vide.mithvaer }}.</p><p class="mb4">Files are synced between Bateau and Navire via Dropbox. With the exception of OS files, nothing else is stored on their hard drives. Everything is on the cloud.</p><h3 class="mb3 f6 upc tk bb pb3">Specs</h3><ul class="mb4">{% for spec in site.data.equipment.navire.specs %}<li>{{ spec }}</li>{% endfor %}</ul><h3 class="mb3 f6 upc tk bb pb3">Software</h3><ul class="mb4 lsn r">{% for app in site.data.equipment.navire.apps %}<li class="c3 c6-s c6-m">{{ app }}</li>{% endfor %}</ul>
