<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>
	<meta name="author" content="Josh Avanier">
	<meta name="description" content="Welcome to the Subterraneum">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
	<link rel="stylesheet" href="https://joshavanier.github.io/macian/css/macian.css">
  <style>
    a {color: #d34141}
    header a:hover {border: none}
  </style>
  <script async src="https://joshavanier.github.io/aequirys/aequirys.js"></script>
</head>

<body class="bg-noir blanc p4 p5-m p5-l">

	<header class="ac al-l psr psf-l t0 l0 p5-l">
    <a href="/" title="Welcome to The Subterraneum">
    <svg viewBox="850 950 2000 2000" width="60">
      <path d="M 1286.155 2295.976 L 1286.111 1627.386 L 1863.595 1294.591 L 2441.515 1627.545 L 2441.558 2295.438 L 1863.551 2628.509 L 1286.155 2295.976 Z" style="stroke: #f8f8f8; stroke-width: 3.81em; fill: #202020;" bx:origin="0.5 0.5"/>
      <ellipse style="stroke: #f8f8f8; stroke-width: 3.81em; fill: #202020;" cx="1856.872" cy="2075.716" rx="400" ry="400" bx:origin="-1.7983496189117432 -2.0522215366363525"/>
      <path d="M 1429.667 2182.006 L 1429.667 2153.976 L 1853.121 1909.122 L 2080.832 1892.675 L 2303.446 2021.703 L 2303.446 2121.313 L 1429.667 2182.006 Z" style="stroke: #f8f8f8; stroke-width: 3.81em; fill: #202020;" transform="matrix(0.9999999999999999, 0, 0, 0.9999999999999999, -3.057604610919725, -1.5288023054599762)" bx:origin="0.5 0.5"/>
      <path d="M 1426.779 2376.867 L 1426.9 2152.673 L 1978.272 1833.825 L 2300.74 2020.112 L 2301.103 2376.264 L 2441.633 2295.254 L 2441.511 1627.377 L 1863.579 1294.404 L 1286.008 1627.377 L 1286.249 2296.099 L 1426.779 2376.867 Z" style="stroke: #f8f8f8; stroke-width: 3.81em; fill: #202020;" bx:origin="0.5 0.5"/>
    </svg>
    </a>
	</header>

	<div class="container bg-blanc noir mv5 mv5-m mv0-l cn p4 p5-m p5-l w7-l">
		{{ content }}
	</div>

	<p class="ac psr psf-l b0 r0 p5-l mon"><small id="date">{Date}</small></p>
	<p class="ac psr psf-l b0 l0 p5-l mon upc"><small>&copy; 2017 <a class="link" href="https://twitter.com/joshavanier/" target="_blank" title="@joshavanier">JA</a></small></p>

	<script>
		var m = Aequirys.convert()
		document.getElementById("date").innerHTML = Aequirys.shorter(m)
		console.log("Hello, human.")
	</script>
	<!-- <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-79171090-1', 'auto'); ga('send', 'pageview');
  </script> -->

</body>

</html>
